MONGO_URI=mongodb://eminom45552_db_user:edit@ac-6k1hu2n-shard-00-00.zczmks5.mongodb.net:27017,ac-6k1hu2n-shard-00-01.zczmks5.mongodb.net:27017,ac-6k1hu2n-shard-00-02.zczmks5.mongodb.net:27017/?ssl=true&replicaSet=atlas-ix88i5-shard-0&authSource=admin&appName=Cluster0
PORT=5000
